.navbar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: -8px -5px;
    padding: 15px;
    position: fixed;
    width: 100%;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

#logOutButton {
    position: fixed;
    margin: 2em 0em 0em 115em;
  }