.navbar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: -90px -5px;
    padding: 25px 0px;
    position: fixed;
    width: 100%;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar img {
    position: fixed;
    max-width: 200px;
    margin: -20px 5px;
}

#logOutButton {
    position: fixed;
    margin: -1.3em 0em 0em 115em;
  }