/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/*Typography
--------------------------------------------------------------*/
.logout__text {
  font-size: 14px;
  position: fixed;
  margin: 2em 0em 0em 100em;
}