body {
    background-color: #DAE0E6;
}

.posts {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 90px 450px 0px 475px;
}
  
.post {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    margin: 1em;
    padding: 0.5em 0.5em;
    justify-content: space-between;
}

.post img {
    max-width: 450px
}

.postDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 5px;
}

.voteDiv {
    align-self: center;
    margin-right: 55px;
}