body {
    background-color: lightgray;
}

.posts {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 0em 16em;
}
  
.post {
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin: 1em;
    padding: 1em;
}

.postDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.post img {
    max-width: 450px
}