body {
    background-color: lightgray;
}

.posts {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 0em 15em;
    width: 1000px;
}
  
.post {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    padding: 1em;
}

.postDiv {
    align-items: center;
    justify-content: center;
}

img {
    max-width: 450px
}