.posts {
    display: flex;
    flex-direction: column;
    margin: 0em 25em;
  }
  
  .post {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  h2 {
      align-self: center;
  }

.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 100px;
    position: fixed;
}