.PostsHeader{
    position: fixed;
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin: -43.5px 300px;
    position: fixed;
    width: 200px;
}

.topicsHeaders {
    align-self: center;
}

#CreatePostButton {
    position: fixed;
    height: 37px;
    margin: -6em 61.5em;
    width: 200px;
}